----- 
permalink: home
filters_pre: 
- erb
title: Home
type: page
feed: '/'
feed_url: "http://feeds.feedburner.com/h3rald"
feed_title: 'Latest Articles'
-----
<%
max_items = 5

all_articles = latest_articles.length
latest = latest_articles 5
popular = popular_articles 5
all_projects = @items.select{|a| a[:type] == 'project'}.length
%>
<section id="topbar">
	<nav id="social">
		<ul>
			<li><a href="http://www.h3rald.com/rss/" rel="external"><img src="/images/social/rss.png" alt="RSS" /></a></li>
			<li><a href="http://blog.h3rald.com/" rel="external"><img src="/images/social/posterous.png" alt="posterous" /></a></li>
			<li><a href="http://www.twitter.com/h3rald/" rel="external"><img src="/images/social/twitter.png" alt="RSS" /></a></li>
			<li><a href="http://it.linkedin.com/in/fabiocevasco" rel="external"><img src="/images/social/linkedin.png" alt="linkedin" /></a></li>
			<li><a href="http://www.delicious.com/h3rald/" rel="external"><img src="/images/social/delicious.png" alt="delicious" /></a></li>
			<li><a href="http://www.reddit.com/user/h3rald/" rel="external"><img src="/images/social/reddit.png" alt="reddit" /></a></li>
		</ul>
	</nav>
	<aside id="search">
		<section id="search_form"></section> 
	</aside>
</section><!-- #topbar end -->
<section id="search_results"></section> 
<section class="left" id="main-content">
	<%= render 'article_intro', :item => latest[0], :classes => "three-columns hyphenate", :extended => true %>
	<section class="clear-left left" id="#main-content-left">
		<script src="http://widgets.twimg.com/j/2/widget.js"></script>
		<section id="twitter">
			<script>
				new TWTR.Widget({
				version: 2,
				type: 'profile',
				rpp: 4,
				interval: 6000,
				width: 280,
				height: 250,
				theme: {
				shell: {
				background: '#ffffff',
				color: '#333333'
				},
				tweets: {
				background: '#ffffff',
				color: '#333333',
				links: '#3b6deb'
				}
				},
				features: {
				scrollbar: false,
				loop: false,
				live: false,
				hashtags: true,
				timestamp: true,
				avatars: false,
				behavior: 'all'
				}
				}).render().setUser('h3rald').start();
			</script>
		</section><!-- #twitter end -->
		<%= render 'article_intro', :item => latest[3], :classes => "hyphenate", :extended => false %>
		<article class="feature">
			<header>
				<p>FEATURED CONTENT</p>
				<h1><a href="/holidays/">Holidays in Italy?</a></h1>
				<h2>Yes, I am really renting my house in the countryside!</h2>
			</header>
			<section class="hyphenate">
				<img src="/images/sessarego.jpg" alt="Sessarego" style="margin: 0 5px;" />
				<p>Looking for a peaceful and relaxing holiday in the Italian Riviera? I'm renting part of my family country home in the center of the old village of Sessarego, on a peaceful hill a few minutes away from Bogliasco, a small coastal town on the Golfo Paradiso. </p>
				<p>The center of Genoa can be reached by car, bus or train in about 30 minutes and a lot of tourist locations like Camogli, Rapallo, Santa Margherita and Portofino are just a few train stops away. <a href="/holidays/">&raquo;&nbsp;<strong>Read&nbsp;More</strong></a></p>
			</section>
		</article>
	</section><!-- #main-content-left end -->
	<section class="right border-left" id="main-content-right">
		<%= render 'article_intro', :item => latest[1], :classes => "hyphenate", :extended => false %>
		<%= render 'article_intro', :item => latest[2], :classes => "hyphenate", :extended => false %>
		<% 
			#render 'article_intro', :item => latest[4], :classes => "hyphenate", :extended => false 
		%>
	</section><!-- #main-content-right end -->
</section><!-- #main-content end -->
<section class="right" id="secondary-content">
	<%= render 'article_intro', :item => popular[1], :classes => "two-columns hyphenate", :extended => true %>
	<article class="feature">
		<header>
			<p>FEATURED CONTENT</p>
			<h1><a href="/glyph/">Glyph &ndash; Rapid Document Authoring Framework</a></h1>
			<h2>A free and extensible solution for personal publishing, 100% open source!</h2>
		</header>
		<section class="hyphenate">
			<img src="/images/glyph.png" alt="Glyph Logo" class="img-right" />
			<p>With Glyph, creating and maintaining any kind of document becomes as easy as... programming. </p>
			<p>Glyph enables you to minimize text duplication, focus on content rather than presentation, manage references seamlessly and automate tedious tasks through a simple but effective macro language, specifically geared towards customization and extensibility. <a href="/glyph/">&raquo;&nbsp;<strong>Read&nbsp;More</strong></a></p>
		</section>
	</article>
	<section class="left" id="secondary-content-left">
		<%= render 'article_intro', :item => popular[0], :classes => "hyphenate", :extended => false %>
		<%= render 'article_intro', :item => popular[3], :classes => "hyphenate", :extended => false %>
	</section><!-- #secondary-content-left end -->
	<section class="right border-left" id="secondary-content-right">
		<%= render 'article_intro', :item => popular[2], :classes => "hyphenate", :extended => false %>
		<%= render 'article_intro', :item => popular[4], :classes => "hyphenate", :extended => false %>
	</section><!-- #secondary-content-right end -->
</section><!-- #secondary-content-end -->
