----- 
permalink: home
filters_pre: 
- erb
title: Home
type: page
feed: '/'
feed_url: "http://feeds.feedburner.com/h3rald"
feed_title: 'Latest Articles'
-----
<%
max_items = 15

latest = latest_articles 6
popular = popular_articles 10

%>
<div class="row">
  <section class="col-md-8" id="main-content">
  <%= render 'article_intro', :item => latest[0], :classes => "hyphenate", :extended => true %>
  <%= render 'article_intro', :item => latest[1], :classes => "hyphenate", :extended => false %>
  <%= render 'article_intro', :item => latest[2], :classes => "hyphenate", :extended => false %>
  <%= render 'article_intro', :item => latest[3], :classes => "hyphenate", :extended => false %>
  <%= render 'article_intro', :item => latest[4], :classes => "hyphenate", :extended => false %>
  <%= render 'article_intro', :item => latest[5], :classes => "hyphenate", :extended => false %>
  <p><a href="/archives/">&larr; Older Articles</a></p>
  </section><!-- #main-content end -->
  <section class="col-md-4" id="secondary-content">
  <span class="featured"><i class="h3-fire"></i> popular</span>
  <%= render 'article_box', :item => popular[0], :classes => "hyphenate", :extended => true %>
  <%= render 'article_box', :item => popular[1], :classes => "hyphenate", :extended => false %>
  <%= render 'article_box', :item => popular[2], :classes => "hyphenate", :extended => false %>
  <%= render 'article_box', :item => popular[3], :classes => "hyphenate", :extended => false %>
  <%= render 'article_box', :item => popular[4], :classes => "hyphenate", :extended => false %>
  <%= render 'article_box', :item => popular[5], :classes => "hyphenate", :extended => false %>
  <%= render 'article_box', :item => popular[6], :classes => "hyphenate", :extended => false %>
  <%= render 'article_box', :item => popular[7], :classes => "hyphenate", :extended => false %>
  </section><!-- #secondary-content-end -->
</div>
