-----
filter: erb
-----
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title><%= @item[:title] %> - H3RALD</title>
		<% if @item[:feed] then %>
		<link rel="alternate" type="application/rss+xml" title="H3RALD - <%= @item[:feed_title]%> (RSS Feed)" href="<%= @item[:feed]%>rss/" />
		<link rel="alternate" type="application/atom+xml" title="H3RALD - <%= @item[:feed_title]%> (Atom Feed)" href="<%= @item[:feed]%>atom/" />
		<% end %>
		<meta name="author" content="Fabio Cevasco" />
		<meta name="copyright" content="Fabio Cevasco" />
		<meta name="robots" content="all, follow" />
		<meta name="Revisit-After" content="2 Days" />
		<meta name="language" content="en" />
		<meta name="target_country" content="en-us" />
		<meta name="country" content="United States" />
		<meta name="description" content="H3RALD - Fabio Cevasco's Web Site" />
		<meta name="keywords" content="h3rald, fabio cevasco, ruby, rails technical writing, reviews, software, browsers, cakephp, genova, technical articles" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta content="44.388041;9.073248" name="ICBM" />

		<link href="/css/main.css" media="all" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<a href="http://github.com/h3rald/h3rald"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
		<div id="wrapper">
			<div id="header">
				<!--[if lte IE 6]>
				<div id="ie-warning">
					This site is not compatible with Internet Explorer 6 or lower. You should consider using a more modern browser for a better &ndash; and <em>safer</em> &ndash; web experience. [<a href="http://browsehappy.com/browsers/">Read More...</a>]
				</div>
				<![endif]-->
				<!-- HEADER START -->
				<div id="header-container">
					<div id="header-left">
						<h1><span class="logo"></span><a id="logo" href="/" title="H3RALD"></a></h1>
					</div>
					<div id="header-right">
						<ul id="navigation">
						<% ['archives', 'projects', 'about', 'other'].each do |l| %>
							<li><span class="preload nav-<%= l%>"></span><a id="nav-<%= l%>"href="/<%= l %>/" title="<%= l.upcase %>"/></a></li>
						<% end %>
						</ul>
					</div>
				</div>
			</div>
			<!-- HEADER END -->
			<!-- MAIN START -->
			<div id="main">
				<!-- CONTAINER START -->
				<div id="container">
					<!-- CONTENT START -->
					<div id="content" class="clearfix<%= (@item[:permalink] == 'home') ? ' home' : ' standard' %>">
						<h2><%= @item[:title] %></h2>
						<% 	case @item[:type]
								when 'article' then%>
								<div id="content-header">
								<%= render 'article_meta', :article => @item %>
								</div>
						<% end %>
						<hr />
						<div id="content-body">
							<%= yield %>
						</div>
						<div id="content-footer">
							<div class="share">
					<a class="a2a_dd" href="http://www.addtoany.com/share_save"><img src="http://static.addtoany.com/buttons/share_save_120_16.gif" width="120" height="16" alt="Share/Save/Bookmark"/></a><script type="text/javascript">a2a_linkname=document.title;a2a_linkurl=location.href;a2a_onclick=1;a2a_prioritize=["delicious","stumbleupon","friendfeed","twitter","dzone","digg","reddit","slashdot","facebook","newsvine","sphere","ping"];</script>
					<% if @item[:feed] then %>
					<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
					<a class="a2a_dd" href="http://www.addtoany.com/subscribe?linkname=&amp;linkurl=http%3A%2F%2Fwww.h3rald.com%2Frss%2F"><img src="http://static.addtoany.com/buttons/subscribe_120_16.gif" width="120" height="16" alt="Subscribe"/></a><script type="text/javascript">a2a_linkname=document.title;a2a_linkurl="http://www.h3rald.com<%= @item[:feed] %>rss/";a2a_onclick=1;</script><script type="text/javascript" src="http://static.addtoany.com/menu/feed.js"></script>
					<% end %>
				</div>
							<%= render 'article_buttons' if @item[:type] == 'article' %>
						</div>
					</div>
					<!-- CONTENT END -->
				</div>
				<!-- CONTAINER END -->
			</div>
			<!-- MAIN END -->
			<div id="border-bottom">
					<% if @item[:type] == 'article' then %>
					<%= render 'comments' %>
					<% else %>
					<%= render 'services' %>
					<% end %>
				</div>
				<div class="clearfooter"></div>
			</div> <!-- WRAPPER END -->
			<div id="footer">
				<div id="footer-container">
					<div class="footer-div">
						H3RALD Web Site v8.0.0 <em>"xStatic"</em> &mdash; &copy; 2004-2009 <strong>Fabio Cevasco</strong> &mdash; <a class="link" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Some rights reserved</a> | <a href="http://validator.w3.org/check?uri=referer" class="link">XHTML 1.1</a> | <a href="http://jigsaw.w3.org/css-validator/" class="link">CSS 2.1</a>
					</div>
				</div> <!-- END FOOTER CONTAINER-->
			</div> <!-- END FOOTER -->
<script type="text/javascript">
lloogg_clientid = "2830021149dc1a04";
</script>
<script type="text/javascript" src="http://lloogg.com/l.js?c=2830021149dc1a04">
</script>			
			<script src="http://www.google.com/jsapi?key=ABQIAAAA6h3j8Jri5D_da53UPbEbThRlq2n1sm52B5HDRR5tm6o8XM18FhTKn3v155RpPeD0kWnWG81QEhhifQ" type="text/javascript"></script>
			<% if @site.config[:dev] = true then %>
				<script src="/js/jquery.js" type="text/javascript"></script>
				<script src="/js/jquery-timeago.js" type="text/javascript"></script>
				<script src="/js/date.js" type="text/javascript"></script>
				<script src="/js/feeds.js" type="text/javascript"></script>
				<script src="/js/search.js" type="text/javascript"></script>
				<script src="/js/init.js" type="text/javascript"></script>
			<% else %>
				<script src="/js/compressed.js" type="text/javascript"></script>
			<% end %>
			<% if @item[:type] == 'page' then %>
			<script type="text/javascript">
			$(document).ready(function() {
				display_opinions(7);
				display_tweets(7);
				display_bookmarks(7);
				});
			</script>
			<% end %>
			<% if @item[:github] then %>
			<script type="text/javascript">
				$(document).ready(function() {
					display_commits(5, '<%= @item[:github] %>');
				});
			</script>
			<% end %>
	</body>
</html>
