-----
filter: erb
-----
<%
  def active_if(ident) 
    if @item[:permalink] == ident then
      %{ class="active"}
    else
      ""
    end
  end
%><div class="container">
  <div class="row" id="header-row">
    <div class="span6 main-title">
      <h1>
        <% if @item[:permalink] != 'home' then %>
        <a href="/"><img src="/img/h3rald.png" alt="H3RALD" /></a>
      <% else %>
        <img src="/img/h3rald.png" alt="H3RALD" />
      <% end %>
      </h1>
    </div>
    <div class="span4 offset2">
      <div class="gcse-searchbox" data-enableAutoComplete="true"></div>
    </div>
  </div>
  <div id="search_results">
    <div class="gcse-searchresults" data-linkTarget="_top"></div>
  </div> 
  <div id=main-navbar class="navbar navbar-inverse">
    <div class="navbar-inner">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li<%=active_if("home")%>><a href="/">HOME</a></li>
          <li<%=active_if("projects")%>><a href="/projects/">PROJECTS</a></li>
          <li<%=active_if("tags")%>><a href="/tags/">TAGS</a></li>
          <li<%=active_if("archives")%>><a href="/archives/">ARCHIVES</a></li>
          <li<%=active_if("about")%>><a href="/about/">ABOUT</a></li>
          <li<%=active_if("contact")%>><a href="/contact/">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
