-----
filter: erb
-----
<%
	author = @item[:author] || "Fabio Cevasco"
	pdf = %{<a href="/articles/#{@item[:permalink]}.pdf"><img src="/images/icons/pdf.png" alt="PDF" /></a>} if @item[:pdf]
	source_url = "https://raw.github.com/h3rald/h3rald/master/#{@item[:filename]}?iframe" # Not allowed anymore
	source = %{<a href="#{source_url}" class="fancybox"><img src="/images/icons/ruby.png" alt="SOURCE"/></a>}
  tools = %{<span class="tools">#{pdf}</span>}
%><header>
	<hgroup>
		<h1><%= @item[:title] %></h1>
		<% if !@item[:subtitle].blank? then %>
			<h2><%= @item[:subtitle] %></h2>
		<% end %>
	</hgroup>
	<% if @item[:type] == 'article' then %>
	<p class="toolbar">
		<span class="pubdate">
			Published on <time datetime="<%= @item[:date].strftime("%Y-%d-%d") %>" pubdate="pubdate"><%= @item[:date].strftime("%A, %B %d %Y") %></time>
		</span>
		<%= tools if pdf %>
	</p>
	<nav class="tags"><%= tags_for(@item) %></nav>
	<p class="author">By <em><%= author %></em></p>
	<div class="rdbWrapper" data-show-read="1" data-show-send-to-kindle="1" data-show-print="1" data-show-email="1" data-orientation="0" data-version="1" data-bg-color="#ffffff"></div><script type="text/javascript">(function() {var s = document.getElementsByTagName("script")[0],rdb = document.createElement("script"); rdb.type = "text/javascript"; rdb.async = true; rdb.src = document.location.protocol + "//www.readability.com/embed.js"; s.parentNode.insertBefore(rdb, s); })();</script>
	<% end %>
</header>
