-----
filter: erb
-----
<%
	author = @item[:author] || "Fabio Cevasco"
	pdf = %{<a href="/articles/#{@item[:permalink]}.pdf"><img src="/images/icons/pdf.png" alt="PDF" /></a>} if @item[:pdf]
	source_url = "http://github.com/h3rald/h3rald/raw/master/#{@item[:file].path}?iframe" 
	source = %{<a href="#{source_url}" class="fancybox"><img src="/images/icons/ruby.png" alt="SOURCE"/></a>}
	tools = %{<span class="tools">#{source}#{pdf}</span>}
%><header>
	<hgroup>
		<h1><%= @item[:title] %></h1>
		<% if !@item[:subtitle].blank? then %>
			<h2><%= @item[:subtitle] %></h2>
		<% end %>
	</hgroup>
	<% if @item[:type] == 'article' then %>
	<p class="toolbar">
		<span class="pubdate">
			Published on <time datetime="<%= @item[:date].strftime("%Y-%d-%d") %>" pubdate="pubdate"><%= @item[:date].strftime("%A, %B %d %Y") %></time>
		</span>
		<%= tools if pdf %>
	</p>
	<nav class="tags"><%= tags_for(@item) %></nav>
	<p class="author">By <em><%= author %></em></p>
	<% end %>
</header>
